html, body{
    height: 100%;
    margin: 0;
    padding: 0;     /*wew margines */
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;     /*stosunek pustych przestrzeni / coś jak flex */
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    width: 50%;
    height: 80%;
    margin: 20px auto;
    font: normal 28pt sans-serif;
    color: white;
    background-color: rgba(24, 111, 168, 0.795);
    grid-gap: 3px;
}

#container > div {
    background-color: rgba(105, 182, 233, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container > div:hover {
    background-color: rgba(128, 230, 224, 0.589);
}
